@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  --bg: #303446;
  --secondary: #292c3c;
  --tertiary: #232634;
  --text: #c6d0f5;
  --outlinetext: #8caaee;
}

body {
  background-color: var(--bg);
  font-family: 'Ubuntu Mono', monospace;
}

.maintext {
  color: var(--text);
  font-size: 20px;
  text-align: left;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 0.8;
}

.secondarytext {
  color: var(--outlinetext);
  font-size: 20px;
  text-align: left;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 0.8;
}

.column {
  float: left;
  width: 35%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    text-align: left;
    text-scale: 45px;
    letter-spacing: 5px;
}
