:root {
  --bg: #303446;
  --secondary: #292c3c;
  --tertiary: #232634;
  --text: #8caaee;
  --outlinetext: #c6d0f5;
}

body {
  background-color: var(--bg);
  color: var(--text);
  text-align: center;
  font-size: 10px;
}

.maintext {
  color: var(--text);
}

.secondarytext {
  color: var(--outlinetext);
}

.column {
  float: left;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}
